header{
    position: relative;
}
.container{
    margin: 0 auto;
    width: 940px;
    margin-bottom: 30px;
}
.sacola{
    background: url(../img/sacola.png) no-repeat top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;
    
}

.menu-opcoes a{
    color: #003366;
    text-decoration: none;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
    
}

.menu-opcoes a:hover{
    color: #007dc6;
}

.menu-opcoes a:active{
    color: #867dc6;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}